In [55]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [56]:
investment = 100_000
shares = investment / aapl_df['Close'].iloc[0]
shares

3796.5072133637054

In [63]:
file_path = Path("../personal project/aapl_2012-2020.csv")
aapl_df = pd.read_csv(file_path)
aapl_df.tail(10)

                     Date   Close Shares
2254  12/16/2020 16:00:00  127.81    NaN
2255  12/17/2020 16:00:00  128.70    NaN
2256  12/18/2020 16:00:00  126.66    NaN
2257  12/21/2020 16:00:00  128.23    NaN
2258  12/22/2020 16:00:00  131.88    NaN
2259  12/23/2020 16:00:00  130.96    NaN
2260  12/24/2020 13:00:00  131.97    NaN
2261  12/28/2020 16:00:00  136.69    NaN
2262  12/29/2020 16:00:00  134.87    NaN
2263  12/30/2020 16:00:00  133.72    NaN

In [64]:
#Go biweekly
aapl = aapl_df.loc[::10, :]

In [65]:
aapl['pct_change'] = aapl['Close'].pct_change()
aapl['bi-returns'] =  aapl['pct_change'] * investment
aapl['portfolio'] = aapl['Close'] * shares
aapl['returns'] = aapl['portfolio'] - investment
aapl['call_premium'] = aapl['Close'] * .006
aapl

C:\Users\austi\anaconda3\envs\alpacaenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\austi\anaconda3\envs\alpacaenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\austi\anaconda3\envs\alpacaenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\austi\anaconda3\envs\alpacaenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\austi\anaconda3\envs\alpacaenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Date,Close,Shares,pct_change,bi-returns,portfolio,returns,call_premium
0,1/3/2012 16:00:00,14.69,#ERROR!,NaN,NaN,55770.690964,-44229.309036,0.08814
10,1/18/2012 16:00:00,15.33,NaN,0.043567,4356.705242,58200.455581,-41799.544419,0.09198
20,2/1/2012 16:00:00,16.29,NaN,0.062622,6262.230920,61845.102506,-38154.897494,0.09774
30,2/15/2012 16:00:00,17.77,NaN,0.090853,9085.328422,67463.933181,-32536.066819,0.10662
40,3/1/2012 16:00:00,19.45,NaN,0.094541,9454.136185,73842.065300,-26157.934700,0.11670
...,...,...,...,...,...,...,...,...
2220,10/28/2020 16:00:00,111.20,NaN,-0.082433,-8243.254394,422171.602126,322171.602126,0.66720
2230,11/11/2020 16:00:00,119.49,NaN,0.074550,7455.035971,453644.646925,353644.646925,0.71694
2240,11/25/2020 16:00:00,116.03,NaN,-0.028956,-2895.639802,440508.731967,340508.731967,0.69618
2250,12/10/2020 16:00:00,123.24,NaN,0.062139,6213.910196,467881.548975,367881.548975,0.73944
2260,12/24/2020 13:00:00,131.97,NaN,0.070837,7083.739046,501025.056948,401025.056948,0.79182

In [66]:
aapl.to_csv('basic_aapl.csv')

In [ ]:

def sell_call(x)
    if x in number > .05
    x == x
    else x